@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-brand-50: #eff8ff;
  --color-brand-100: #dceffe;
  --color-brand-200: #b6e2fd;
  --color-brand-300: #7dd0fb;
  --color-brand-400: #38bdf8;
  --color-brand-500: #0ea5e9;
  --color-brand-600: #2166d8;
  --color-brand-700: #1d4ed8;
  --color-brand-800: #1e3a8a;
  --color-brand-900: #172554;
}
